/* 文字显示速度 */
#menu-text .speed-section {
  text-align: center;
}

#menu-text .text-section {
  box-sizing: border-box;
  padding: 0 1%;
}
#menu-text .text-message {
  text-align: center;
  display: block;
  width: 100%;
  background-color: rgba(0, 14, 39, 0.7);
  padding: 5px 0px;
  border-radius: 17px;
  min-height: 40px;
}